/////////////////////////////////////////////////////////////////////////////
//
// Accelerator
//

IDC_BOLOTA ACCELERATORS DISCARDABLE
BEGIN
    "/",            IDM_HELP_ABOUT,         ASCII,  ALT, NOINVERT
    "?",            IDM_HELP_ABOUT,         ASCII,  ALT, NOINVERT
    VK_F1,          IDM_HELP_ABOUT,         VIRTKEY, NOINVERT
    "O",            IDM_FIELD_APPEND,       VIRTKEY, NOINVERT
    "P",            IDM_FIELD_CREATECHILD,  VIRTKEY, NOINVERT
    "H",            IDM_FIELD_DEINDENT,     VIRTKEY, NOINVERT
    VK_TAB,         IDM_FIELD_DEINDENT,     VIRTKEY, SHIFT, NOINVERT
    "D",            IDM_FIELD_DELETE,       VIRTKEY, NOINVERT
    VK_DELETE,      IDM_FIELD_DELETE,       VIRTKEY, NOINVERT
    "I",            IDM_FIELD_EDIT,         VIRTKEY, NOINVERT
    "L",            IDM_FIELD_INDENT,       VIRTKEY, NOINVERT
    VK_TAB,         IDM_FIELD_INDENT,       VIRTKEY, NOINVERT
    "J",            IDM_FIELD_MOVEDOWN,     VIRTKEY, NOINVERT
    VK_DOWN,        IDM_FIELD_MOVEDOWN,     VIRTKEY, SHIFT, NOINVERT
    "K",            IDM_FIELD_MOVEUP,       VIRTKEY, NOINVERT
    VK_UP,          IDM_FIELD_MOVEUP,       VIRTKEY, SHIFT, NOINVERT
    "U",            IDM_FIELD_PREPEND,      VIRTKEY, NOINVERT
    "N",            IDM_FILE_NEW,           VIRTKEY, CONTROL, NOINVERT
    "O",            IDM_FILE_OPEN,          VIRTKEY, CONTROL, NOINVERT
    "R",            IDM_FILE_RELOAD,        VIRTKEY, CONTROL, NOINVERT
    VK_F5,          IDM_FILE_RELOAD,        VIRTKEY, NOINVERT
    "S",            IDM_FILE_SAVE,          VIRTKEY, CONTROL, NOINVERT
    "S",            IDM_FILE_SAVEAS,        VIRTKEY, SHIFT, CONTROL, NOINVERT
    VK_F2,          IDM_FILE_PROPERTIES,    VIRTKEY, NOINVERT
END
