/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
   IDC_BOLOTA          "BOLOTA"
   IDS_APP_TITLE       "Bolota"
END
