/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
   IDS_APP_CLASS       "BOLOTA"
   IDS_APP_TITLE       "Bolota"
END
